<div class="min-h-screen bg-blue-gray-50 font-sans">
  <app-gradient-header title="ICK"></app-gradient-header>
  <div class="max-w-5xl mx-auto mt-10 pb-12 px-3">
    <div class="flex flex-col gap-6">
      <!-- STAT CARDS -->
      <div class="flex flex-row gap-5 flex-wrap">
        <app-info-card
          *ngFor="let s of stats"
          [number]="s.number"
          [subcaption]="s.subcaption"
          [colorGradient]="s.color"
          [description]="s.description"
          [badge]="s.badge"></app-info-card>
      </div>
      <!-- TABS -->
      <app-tabs
        [tabs]="tabs"
        [activeTab]="selectedTab"
        (tabChange)="onTabChange($event)">
      </app-tabs>
      <!-- SEARCH + CTA -->
      <app-search-bar-cta
        [search]="search"
        (searchChange)="onSearch($event)"
        (create)="onCreate()"
        class="mt-2 mb-3"></app-search-bar-cta>
      <!-- TABLE -->
      <div class="mt-4 rounded-2xl shadow-md bg-white">
        <app-profile-table [profiles]="profiles"></app-profile-table>
      </div>
    </div>
  </div>
</div>
